html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  overflow: hidden;
  max-width: 1440px;
  background-color: dimgray;

  /* font-family: 'Catamaran', sans-serif; */
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
